---
layout: default
---

<h1><a href="{{html_url}}">{{name}}</a></h1>
<img src="{{avatar_url}}" alt="">
<p>{{company}}, <a href="{{blog}}">{{blog}}</a>, {{location}}, {{email}}</p>
Create: {{created_at}},

Update: {{updated_at}},
